body {
  font-family: "Arial", sans-serif;
  background-color: #d4d0d0;
  color: #333;
  margin: 0;
  padding: 0%;
}
header {
  background-color: #f00000;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
section {
  padding: 20px;
  margin: 20px, 0, 20px, 0;
  background-color: #ffff;
  border-radius: 5px;
}
h2 {
  color: #4caf50;
  text-align: center;
}
#products {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  max-width: 600px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 5px;
}
